<div class="pagination-wrapper">
    <pagination-controls
        (pageChange)="getPage($event)"
        previousLabel=""
        nextLabel="">
    </pagination-controls>
</div>

<mdl-list class="margin-bottom">
    <div *ngIf="loading" class="progress progress-list">
        <mdl-spinner single-color [active]="loading"></mdl-spinner>
    </div>

    <app-sales-preview *ngFor="let listing of sales.listings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        [listing]="listing"
        [playlists]="playlists">
    </app-sales-preview>
</mdl-list>
