<div class="pagination-wrapper">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>
<hr>

<ul class="mdl-list">
    <div *ngIf="loading" class="progress progress-list">
        <mdl-spinner single-color [active]="loading"></mdl-spinner>
    </div>

    <app-sales-preview *ngFor="let listing of sales.listings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        [listing]="listing"
        [playlists]="playlists">
    </app-sales-preview>
</ul>
