@import "../../../node_modules/material-design-lite/src/material-design-lite";
@import "components";

body {
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FAFAFA;
}

.app-wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 60px;
  
  > .column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.left {
      width: 200px;
      flex-shrink: 0;
      flex-grow: 0;
      margin: 0 1em;

      h5 {
        font-size: 14px;
      }

      .mdl-list__item {
        padding: 0 16px;
        min-height: 36px;
      }
    }

    &.main {
      flex-grow: 1;
      
      .mdl-list__item-primary-content {
          cursor: pointer;
      }
    }
  }
}

.progress {
    width: 100px;
}

.progress.progress-list {
    padding: 8em 0;
    margin: auto;
}

.extra-info {
    font-size: 12px;
    color: #7a7a7a;
}

.extra-info:hover {
    color: #333;
    text-decoration: underline;
}

/******* Pagination *******/

.pagination-wrapper {
    width: 600px;

    ul {
        padding: 0;
    }

    li {
        cursor: pointer;
    }
}

.ng2-pagination .current {
    background: rgba(0, 0, 0, 0.54) !important;
    border-radius: 3px;
}

.ng2-pagination li a {
    color: #3e3e3e !important;
    font-weight: normal !important;
}

/******* Lists *******/

.list-actions span {
    font-size: 0.9em;
}

.list-actions .material-icons.md-resized {
    font-size: 18px;
}

/******* Youtube player *******/

.youtube-frame {
    display: none;
}

.youtube-frame.visible {
    display: block;
}

/***** MDL overwrites *********/
.mdl-navigation__link:hover {
    color: rgb(255,64,129);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.mdl-list li a.release-title {
    color: #4a4a4a;
}

.mdl-list li .release-title {
    display: block;
    text-decoration: none;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdl-list li .release-link {
    cursor: pointer;
}

.mdl-textfield__input {
    border-bottom: 1px solid #aaa;
}

.mdl-textfield__input,
.mdl-textfield__label {
    font-size: 14px;
}

.mdl-textfield__label {
    color: #aaa;

    .mdl-textfield--floating-label.is-focused &,
    .mdl-textfield--floating-label.is-dirty &,
    .mdl-textfield--floating-label.has-placeholder & {
        color: #aaa;
        text-align: right;
    }
}

.mdl-menu {
    padding: 0 !important;
}

mdl-menu-item.playlist-menu-add {
    color: rgb(255,64,129);
}

mdl-menu-item.playlist-menu-add,
mdl-menu-item.playlist-menu-title {
    font-weight: bold;
    letter-spacing: .05em;
}

mdl-menu-item.playlist-menu-title {
    background-color: #efefef !important;
    color: rgba(3, 3, 3, 0.8) !important;
    font-weight: bold;
}

mdl-menu-item.playlist-menu-title:hover {
    background-color: #efefef !important;
}

.mdl-button--fab.mdl-button--supermini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

/********** Breakpoints ************/

@media (max-width: 360px) {
    .pagination-wrapper {
        width: 360px;
    }
    .list-actions span {
        display: none;
    }
    .list-actions .material-icons.md-resized {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .mdl-layout__header-row .mdl-navigation {
        display: none;
    }
}

@media (min-width: 600px) {
    .mdl-layout__drawer,
    .mdl-layout__drawer-button {
        display: none;
    }
    .mdl-layout__header-row {
        padding: 0 16px 0 24px;
    }
    .mdl-list li .release-title {
        max-width: 300px;
    }
}

@media (min-width: 720px) {
    .mdl-list li .release-title {
        max-width: 500px;
    }
}

@media (min-width: 960px) {
    .mdl-list li .release-title {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .mdl-list li .release-title {
        max-width: 780px;
    }
}

@media (min-width: 1280px) {
    .mdl-list li .release-title {
        max-width: 600px;
    }
}

@media (min-width: 1440px) {
    .mdl-list li .release-title {
        max-width: 720px;
    }
}

/* Transitions */

/* Fade in */
.fadeIn {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Fade out */
.fadeOut {
    -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 0.5s; /* Firefox < 16 */
    -ms-animation: fadeout 0.5s; /* Internet Explorer */
    -o-animation: fadeout 0.5s; /* Opera < 12.1 */
    animation: fadeout 0.5s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}