.mdl-dialog__actions.playlist-menu,
.playlist-menu-add,
.mdl-dialog__content.playlist-menu mdl-list-item {
    cursor: pointer;
}

.mdl-dialog__actions.playlist-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
}

.mdl-dialog__content.playlist-menu {
    padding: 0;
    max-height: 360px;
    overflow: auto;

    .hidden {
        display: none;
    }

    mdl-list-item:hover {
        background-color: #eaeaea;
    }
} 

.menu-separator {
    margin: 0;
}

.playlist-menu-add {
    color: rgb(255,64,129);
    margin: 1em 0 0 1em;
    text-decoration: underline;
}
