@import "../_variables.scss";

.header-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    z-index: 999;

    .header-row, .action-row {
        width: 140px;
        background: $background-color;

        ul.navigation-header {
            display: -webkit-flex;
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            justify-content: flex-end;

            li.navigation-action {
                &.left {
                    margin-right:auto;
                }

                button {
                    color: $text-lighter;
                    border-radius: 0;
                }
            }
        }
    }

    .action-row {
        width: inherit;
        margin: 10px 0 0 240px;
    }

    .logout {
        margin-right: 20px;
        &:hover {
            background: inherit;
            color: $color-accent;
        }
    }
}

@media (min-width: 600px) {
    .header-row {
        display: none;
    }
}
