@import "../_variables.scss";

.playlist-wrapper {
    .playlist-header {
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;

      h5 {
        margin-right: auto;
      }
    }
}

.logout-drawer {
  display: block;
  position: absolute;
  top: 16px;
  right: 40px;
  font-size: 12px;
  text-decoration: underline;
  text-transform: none;
}

.logout-drawer:hover {
  background-color: inherit;
  color: $color-accent;
}

@media (min-width: 600px) {
  .logout-drawer {
    display: none;
  }
}
