.playlist-title {
    color: #333333;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.08em;
    padding-bottom: 8px;
}

.playlist-item.active {
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.08em;
}