@import "../_variables.scss";

.header-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid $active-color;

    .header-row {
        width: 140px;
        background: $background-color;

        ul.navigation-header {
            display: -webkit-flex;
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            justify-content: flex-end;

            li.navigation-action {
                &.left {
                    margin-right:auto;
                }

                button {
                    color: rgba(0, 0, 0, 0.5);
                    border-radius: 0;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .header-wrapper {
        display: none;
    }
}
