.header-row {
    position: fixed;
    top: 0;
    width: 100%;

    .navigation-header {
        display: -webkit-flex;
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: flex-end;

        .navigation-action.left {
            margin-right:auto;
        }
    }
}