.release-images {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

    &.visible {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &,
    .release-image {
        display: none;
        top: 0;
        left: 0;
    }

    mdl-card mdl-card-supporting-text img,
    .release-image {
        &.visible {
            display: block
        }
        position: absolute;
    }

    .mdl-card {
        width: 360px;
        border-radius: 4px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mdl-card mdl-card-menu:hover {
        color: rgb(83, 109, 254);
    }
    mdl-card mdl-card-menu button:hover {
        background: 0 0;
    }
    
    mdl-card mdl-card-actions {
        text-align: center;
    }

    mdl-card mdl-card-actions .next {
        float: right;
    }

    mdl-card mdl-card-actions .previous {
        float: left;
    }

    mdl-card mdl-card-actions .image-counter {
        display: inline-block;
        margin-top: 6px;
        word-spacing: 0.2em;
    }

    mdl-card mdl-card-supporting-text {
        position: relative;
        min-height: 320px;
    }

    mdl-card mdl-card-supporting-text img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.release-images-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
}