.progress.progress-detail {
    margin: 3em auto;
}

.video-wrapper li:hover,
.release-thumb,
.detail-actions a {
    cursor: pointer;
}

.release-thumb {
    text-align: center;
}

.release-thumb > .img-container {
    width: 150px;

    img {
        max-width: 100%;
    }
}

.video-duration {
    color: rgba(0, 0, 0, .54);
}

.style-chips span.mdl-chip {
    margin: 6px 8px 0 0;
}

.release-basic-info {
    margin-bottom: 12px;
    
    h5 {
        margin: 24px 0 6px 0;
    }

    span {
        color: rgba(0, 0, 0, .54);
        font-size: 18px;
    }
}

.tracklist-position {
    margin-right: 8px;
}

.tracklist-artist::after {
    content: "-";
    margin-right: 4px;
}

.wantlist-remove {
    color: tomato;
}

@media (max-width: 700px) {
    .release-info h5 {
        margin: 0 0 6px 0;
    }
    .release-thumb {
        display: none;
    }
}

@media (min-width: 960px) {
    .release-info {
        margin-left: -24px;
    }
}

@media (min-width: 1024px) {
    .release-info {
        margin-left: -36px;
    }
}

@media (min-width: 1248px) {
    .release-info {
        margin-left: -60px;
    }
}

@media (min-width: 1340px) {
    .release-info {
        margin-left: -84px;
    }
}

@media (min-width: 1440px) {
    .release-info {
        margin-left: -120px;
    }
}