@import "node_modules/material-design-lite/src/variables";

$background-color: #fafafa;
$backdrop-color: rgba(0, 0, 0, 0.3);
$active-color: #efefef;
$color-accent: $text-link-color;
$text-lighter: rgba(0, 0, 0, .54);
