@import "node_modules/material-design-lite/src/material-design-lite";
@import "components";
@import "variables";
@import "transitions";

body {
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $background-color;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.hidden {
    display: none;
}

.progress {
    width: 100px;
}

.progress.progress-list {
    padding: 8em 0;
    margin: auto;
}

.extra-info {
    font-size: 12px;
    color: #7a7a7a;
}

.extra-info:hover {
    color: #333;
    text-decoration: underline;
}

.active {
    border-left: 2px solid $color-accent;
    background: $active-color;
}

.margin-bottom {
    margin-bottom: 40px;
}

/******** Details ********/
.details-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;

    .release-info {
        padding-left: 2em;

        .release-basic-info {
            margin-bottom: 12px;

            span {
                color: $text-lighter;
                font-size: 14px;
            }
        }

        .style-chips span.mdl-chip {
            margin: 6px 8px 0 0;
        }
    }

    .release-thumb {
        text-align: center;

        > .img-container {
            width: 150px;

            img {
                max-width: 100%;
            }
        }
    }
}

.progress.progress-detail {
    margin: 3em auto;
}

.video-wrapper li:hover,
.release-thumb,
.detail-actions a {
    cursor: pointer;
}

.video-duration {
    color: $text-lighter;
}

.navigation-drawer {
    margin: 0 1em;
}

.drawer-button {
    position: fixed;
    top: 4px;
    left: 8px;
    color: $text-lighter;

    &:hover {
        background: inherit;
    }
}

/******* Pagination *******/

.pagination-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-right: 2em;

    ul {
        padding: 0;
    }

    li {
        cursor: pointer;
    }
}

.ng2-pagination .current {
    background: rgba(0, 0, 0, 0.54) !important;
    border-radius: 3px;
}

.ng2-pagination li a {
    color: #3e3e3e !important;
    font-weight: normal !important;
}

/******* Lists *******/

.list-actions span {
    font-size: 0.9em;
}

.list-actions .material-icons.md-resized {
    font-size: 18px;
}

/***** MDL overwrites *********/

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.mdl-layout__content {
    overflow: scroll;
}

.mdl-layout__drawer-button {
    display: none;
}

.mdl-list__item {
    font-size: 14px;

    .release-title {
        display: block;
        text-decoration: none;
        max-width: 600px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #4a4a4a;
    }

    .release-link {
        cursor: pointer;
    }
} 

.mdl-textfield__input {
    border-bottom: 1px solid #aaa;
}

.mdl-textfield__input,
.mdl-textfield__label {
    font-size: 14px;
}

.mdl-textfield__label {
    color: #aaa;

    .mdl-textfield--floating-label.is-focused &,
    .mdl-textfield--floating-label.is-dirty &,
    .mdl-textfield--floating-label.has-placeholder & {
        color: #aaa;
        text-align: right;
    }
}

.mdl-button--fab.mdl-button--supermini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

.mdl-dialog__title {
    font-size: 1.8rem;
    padding: 8px 12px 0;
}

.mdl-tabs__tab .mdl-tabs__ripple-container {
    z-index: 0;
}

/********** Breakpoints ************/
@media (min-width: 600px) {
    .drawer-button {
        display: none;
    }

    .margin-bottom {
        margin-bottom: 110px;    
    }
}

@media (max-width: 980px) {
    .mdl-list__item {
        .release-title {
            max-width: 450px;
        }
    }
}

@media (max-width: 840px) {
    .mdl-list__item {
        .release-title {
            max-width: 340px;
        }
    }
}

@media (max-width: 720px) {
    .mdl-list__item {
        .release-title {
            max-width: 200px;
        }
    }
}

/** left column is hidden ***/
@media (max-width: 600px) {
    .mdl-list__item {
        .release-title {
            max-width: 400px;
        }
    }

    .pagination-wrapper {
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .mdl-list__item {
        .release-title {
            max-width: 300px;
        }
    }
}

@media (max-width: 440px) {
    .mdl-list__item {
        .release-title {
            max-width: 200px;
        }
    }
}
