<li *ngFor="let video of videos" [ngClass]="{'active': video.id === activeVideoId, 'mdl-list__item mdl-list__item': true}">
    <span class="mdl-list__item-primary-content" (click)="selectVideo(video)">
        <img class="mdl-list__item-avatar" src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}" />
        {{video.snippet.title}}
    </span>
    <span class="mdl-list__item-secondary-content video-duration">
        <span>{{video.contentDetails.duration | formatDuration}}</span>
    </span>
    <button #queueBtn="mdlButton" (click)="playlistMenu.toggle($event, queueBtn)" class="mdl-list__item-secondary-action" mdl-button mdl-js-button mdl-ripple mdl-colored="primary">
        <i class="material-icons">playlist_add</i>
    </button>
    <mdl-menu #playlistMenu="mdlMenu" mdl-menu-position="bottom-right">
        <mdl-menu-item *ngFor="let playlist of playlists" mdl-ripple (click)="queueVideo(video, playlist.id)">{{playlist.name}}</mdl-menu-item>
    </mdl-menu>
</li>
