.release-images,
.release-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.release-images {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.release-images.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.release-images mdl-card {
    width: 360px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.release-images .close {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #ffffff;
}

.release-images mdl-card mdl-card-menu:hover {
    color: rgb(83,109,254);
}

.release-images mdl-card mdl-card-menu button:hover {
    background: 0 0;
}

.release-images mdl-card mdl-card-actions {
    text-align: center;
}

.release-images mdl-card mdl-card-actions .next {
    float: right;
}

.release-images mdl-card mdl-card-actions .previous {
    float: left;
}

.release-images mdl-card mdl-card-actions .image-counter {
    display: inline-block;
    margin-top: 6px;
    word-spacing: 0.2em;
}

.release-images mdl-card mdl-card-supporting-text {
    position: relative;
    min-height: 320px;
}

.release-images mdl-card mdl-card-supporting-text img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.release-image.visible {
    display: block
}