.release-images,
.release-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.release-images {
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.5);
}

.release-images.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.release-images mdl-card {
    width: 360px;
    border-radius: 4px;
}

.release-images mdl-card mdl-card-menu {
    top: -4px;
    right: -4px;
    color: #9a9a9a;
}

.release-images mdl-card mdl-card-menu:hover {
    color: rgb(83,109,254);
}

.release-images mdl-card mdl-card-menu button:hover {
    background: 0 0;
}

.release-images mdl-card mdl-card-actions {
    text-align: center;
    margin-top: 4px;
}

.release-images mdl-card mdl-card-actions .next {
    float: right;
}

.release-images mdl-card mdl-card-actions .previous {
    float: left;
}

.release-images mdl-card mdl-card-actions .image-counter {
    display: inline-block;
    margin-top: 6px;
    word-spacing: 0.2em;
}

.release-images mdl-card mdl-card-supporting-text {
    min-height: 320px;
    margin: 4px;
}

.release-images mdl-card mdl-card-supporting-text img {
    max-width: 100%;
    height: auto;
}

.release-image.visible {
    display: block
}