<div class="pagination-wrapper">
    <pagination-controls
        (pageChange)="getPage($event)"
        previousLabel=""
        nextLabel="">
    </pagination-controls>
</div>

<mdl-list class="margin-bottom">
    <div *ngIf="loading" class="progress progress-list">
        <mdl-spinner single-color [active]="loading"></mdl-spinner>
    </div>

    <app-release-preview *ngFor="let release of wantlist.wants | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        [release]="release" [playlists]="playlists"></app-release-preview>
</mdl-list>
