<div class="item-list">
    <pagination-controls (pageChange)="getInventory($event)"></pagination-controls>
    <span class="loading" *ngIf="!listings">Loading...</span>
    <ul>
        <li *ngFor="let listing of listings | paginate: { itemsPerPage: 25, currentPage: currentPage, totalItems: totalItems }">
            <a [routerLink]="['detail', 'release', listing.release.id]">
              {{listing.release.description}} ({{listing.release.catalog_number}} {{listing.release.year}})
            </a> - {{listing.price.value}} ({{listing.price.currency}})
        </li>
    </ul>
</div>

<router-outlet></router-outlet>