<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--8-col">
        <div class="pagination-wrapper">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>
        <hr>

        <div *ngIf="!items.length" class="progress progress-list">
            <mdl-spinner single-color [active]="!items.length"></mdl-spinner>
        </div>

        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems, autoHide: true }">
                <span *ngIf="listType !== 'inventory' && listType !== 'searchResult'" class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', item.id]">
                    <a [mdl-tooltip]="item.basic_information.title" mdl-tooltip-position="bottom">
                        <img class="mdl-list__item-avatar" src="{{item.basic_information.thumb}}" />
                    </a>
                    <span>
                        <a class="release-title" title="{{item.basic_information.title}}">
                            {{item.basic_information.artists | joinNames}} - {{item.basic_information.title}}
                        </a>
                    </span>
                <span class="mdl-list__item-sub-title release-title">{{item.basic_information.labels | joinNames}} ({{item.basic_information.year}})</span>
                </span>

                <span *ngIf="listType === 'inventory'" class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', item.release.id]">
                    <span>
                      <a title="{{item.release.description}}" class="release-title">
                        {{item.release.description}} - {{item.release.catalog_number}} {{item.release.year}}
                      </a>
                    </span>
                <span class="mdl-list__item-sub-title">{{item.price.value}} ({{item.price.currency}})</span>
                </span>

                <span *ngIf="listType === 'searchResult'" class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', item.id]">
                    <a [mdl-tooltip]="item.title" mdl-tooltip-position="bottom">
                      <img class="mdl-list__item-avatar" src="{{item.thumb}}" />
                    </a>
                    <span>
                      <a title="{{item.title}}" class="release-title">
                        {{item.title}}
                      </a>
                    </span>
                <span class="mdl-list__item-sub-title release-title">{{item.label | joinNames}} ({{item.year}})</span>
                </span>

                <span class="mdl-list__item-secondary-content">
                  <span class="list-actions">
                    <button (click)="playAll(item)" class="mdl-list__item-secondary-action" mdl-button mdl-js-button mdl-ripple mdl-colored="primary">
                      <span>Play All</span> <i class="material-icons md-resized">play_arrow</i>
                </button>
                </span>
                </span>
            </li>
        </ul>

        <hr *ngIf="items.length">
        <div *ngIf="items.length" class="pagination-wrapper">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>
    </div>

    <div class="mdl-layout-spacer"></div>
</div>

<router-outlet></router-outlet>