<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--8-col">
        <div class="pagination-wrapper">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>

         <div *ngIf="!items.length" class="progress progress-list">
            <mdl-spinner single-color [active]="!items.length"></mdl-spinner>
         </div>

        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems, autoHide: true }">
                <span *ngIf="listType !== 'inventory'" class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', item.id]">
                    <a title="{{item.basic_information.title}}">
                        <img class="mdl-list__item-avatar" src="{{item.basic_information.thumb}}" />
                    </a>
                    <span>
                        <a class="release-title"  title="{{item.basic_information.title}}">
                            {{item.basic_information.artists | joinNames}} - {{item.basic_information.title}}
                        </a>
                    </span>
                    <span class="mdl-list__item-sub-title release-title">{{item.basic_information.labels | joinNames}} ({{item.basic_information.year}})</span>
                </span>

                <span *ngIf="listType === 'inventory'" class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', item.release.id]">
                    <span>
                      <a class="release-title">
                        {{item.release.description}} - {{item.release.catalog_number}} {{item.release.year}}
                      </a>
                    </span>
                    <span class="mdl-list__item-sub-title">{{item.price.value}} ({{item.price.currency}})</span>
                </span>
                
                <span class="mdl-list__item-secondary-content">
                  <span class="mdl-list__item-secondary-info">Play All</span>
                    <button (click)="playAll(item)" class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">play_circle_outline</i>
                    </button>
                </span>
            </li>
        </ul>

        <div *ngIf="items.length" class="pagination-wrapper">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>
    </div>

    <div class="mdl-layout-spacer"></div>
</div>

<router-outlet></router-outlet>