.nav-title a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.spacer-horz {
    padding: 0 12px;
}

.video-selected {
    margin-bottom: 60px;
}

.mdl-badge.mdl-badge--no-background:after {
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 0.8em;
    box-shadow: none;
}

.mdl-navigation.hidden,
.search-container.hidden {
    display: none;
}

@media (max-width: 600px) {
    .search-container {
        display: none;
    }
}
