.nav-title a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.search-container {
    position: absolute;
    top: -2px;
    right: 52px;
}

.drawer-search-container {
    margin: 16px;
}

.spacer-horz {
    padding: 0 12px;
}

.video-selected {
    margin-bottom: 60px;
}

.mdl-badge.mdl-badge--no-background:after {
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 0.8em;
    box-shadow: none;
}

.mdl-navigation .toggle-search:hover {
    background-color: #333;
    color: #ff4081;
}

.mdl-navigation.hidden,
.search-container.hidden {
    display: none;
}

@media (max-width: 600px) {
    .search-container {
        display: none;
    }
}
