.playing {
    padding: 2px 0 0 0;
}

.playing a,
.playing span,
.playing div {
    color: #3e3e3e;
}

.playing-title-container {
    margin-left: 8px;
}

.playing-title-image,
.playing-title-image img,
.video-duration {
    float: left;
}

.playing-title-image {
    margin: 4px 8px 0 0;
    cursor: pointer;
}

.playing-title-image .player-image-icon {
    position: absolute;
}

.playing-title-image .player-image-icon {
    top: 2px;
    left: 8px;
}

.playing-title-image img {
    width: 40px;
    height: 30px;
}

.playing-title-container {
    font-size: 11px;
}

.playing-title-text {
    line-height: 1.8em;
    padding-left: 8px;
}

.playing-title-text .playing-title-video,
.playing-title-text .playing-title-placeholder span {
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playing-title-text .playing-title-video {
    font-style: italic;
    letter-spacing: .08em;
}

.playing-title-text .playing-title-placeholder span {
    color: #6a6a6a;
}

.playing-title-image {
    position: relative;
}

.playing-title-image .player-image-icon.visible,
.playing-title-text .playing-title-video,
.playing-title-text .playing-title-placeholder span {
    display: block;
}

.playing-title-image .player-image-icon {
    display: none;
}