<div class="pagination-wrapper">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>
<hr>

<ul class="mdl-list">
    <div *ngIf="searching" class="progress progress-list">
        <mdl-spinner single-color [active]="searching"></mdl-spinner>
    </div>

    <div *ngIf="!searching && !searchResults.results.length">
        No results for '{{searchTerm}}'
    </div>
    
    <app-search-preview *ngFor="let result of searchResults.results | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        [result]="result"></app-search-preview>
</ul>

<hr *ngIf="searchResults.results.length">
<div *ngIf="searchResults.results.length" class="pagination-wrapper">
    <pagination-controls (pageChange)="getPage($event) "></pagination-controls>
</div>