<mdl-list>
    <div *ngIf="!searching && !searchResults.results.length">
        No results for '{{searchTerm}}'
    </div>
    
    <app-search-preview *ngFor="let result of searchResults.results | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        [result]="result"></app-search-preview>
</mdl-list>

<div class="pagination-wrapper">
    <button *ngIf="!loading" mdl-button mdl-colored="accent" (click)="getNextPage()">Load more...</button>
    <mdl-spinner *ngIf="loading" single-color [active]="loading"></mdl-spinner>
</div>
