section.player-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #dfdfdf;
}

.nav-title a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.search-container {
    position: absolute;
    top: -2px;
    right: 52px;
}

.drawer-search-container {
    margin: 16px;
}

.spacer-horz {
    padding: 0 12px;
}

.active-video {
    margin-bottom: 60px;
}

.mdl-badge.mdl-badge--no-background:after {
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 0.8em;
    box-shadow: none;
}

@media (max-width: 600px) {
    .search-container {
        display: none;
    }
}