section.player-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #dfdfdf;
}

.nav-title a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.search-container {
    position: absolute;
    top: -8px;
    right: 52px;
}

.spacer-horz {
    padding: 0 12px;
}

.active-video {
    margin-bottom: 60px;
}