<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed #mainLayout="mdlLayout">

    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title class="nav-title">
                <a routerLink="/">{{title}}</a>
            </mdl-layout-title>

            <mdl-layout-spacer></mdl-layout-spacer>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/discogs/wantlist">Wantlist</a>
                <a class="mdl-navigation__link" routerLink="/discogs/collection">Collection</a>
                <a class="mdl-navigation__link" routerLink="/discogs/inventory">Sales</a>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-drawer>
        <mdl-layout-title>{{title}}</mdl-layout-title>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/discogs/wantlist" (click)="mainLayout.closeDrawer()">Wantlist</a>
            <a class="mdl-navigation__link" routerLink="/discogs/collection" (click)="mainLayout.closeDrawer()">Collection</a>
            <a class="mdl-navigation__link" routerLink="/discogs/inventory" (click)="mainLayout.closeDrawer()">Sales</a>
        </nav>
    </mdl-layout-drawer>

    <mdl-layout-content [ngClass]="{'active-video': activeVideo}">
        <router-outlet></router-outlet>
        <section class="player-content">
            <app-player [lastVideo]="activeVideo"></app-player>
        </section>
    </mdl-layout-content>

</mdl-layout>