<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="nav-title mdl-layout-title">
              <a routerLink="/">{{title}}</a>
            </span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/wants">Wantlist</a>
                <a class="mdl-navigation__link" routerLink="/collection">Collection</a>
                <a class="mdl-navigation__link" routerLink="/sales">Sales</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{title}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/wants">Wantlist</a>
            <a class="mdl-navigation__link" routerLink="/collection">Collection</a>
            <a class="mdl-navigation__link" routerLink="/sales">Sales</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>

    <section class="player-content">
        <app-player [lastVideo]="activeVideo"></app-player>
    </section>

</div>