.item-detail {
    width: 45%;
    float: right;
    margin-top: -4em;
}

.list-inline li {
    display: inline;
}

.card-body {
    padding: 1em 2.5em;
    min-height: 420px;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.card-body ul {
    list-style: none;
    padding-left: 0;
}

.card-body .thumb-wrapper {
    float: right;
    padding: 1em 0 1em 1em;
}

.card-body .thumb-wrapper img {
    border: 3px solid #d9d9d9;
    border-radius: 6px;
}

.card-body .video-wrapper {
    margin-top: 2em;
}

.card-body .video-wrapper .video-item {
    display: inline-block;
    height: 128px;
}

.card-body .video-wrapper .video-item.active img {
    border-color: #1976d2;
}


.card-body .video-wrapper .thumb-wrapper {
    float: left;
}

.card-body .video-wrapper .thumb-wrapper:hover {
    color: #1976d2;
}

.card-body .video-wrapper .thumb-wrapper p {
    float: none;
    width: 94px;
    height: 14px;
    overflow: hidden;
    margin: 0;
    font-size: .7em;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-body .video-wrapper h4 {
    margin: 0;
}

.card-body .video-wrapper img {
    width: 94px;
    height: 75px;
}

.card-body .video-wrapper .playing-title {
    font-style: italic;
    font-size: .9em;
    background: #f9f9f9;
    color: #666;
    padding-top: 1em;
    position: absolute;
    bottom: 4px;
    right: 20px;
}

.card-body .player-control {
    margin-left: 1em;
}