<div class="mdl-grid" *ngIf="details">
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--8-col">
        <div *ngIf="details.type === 'error'">
            <div>
                <h4>Error</h4>
            </div>
            <div>
                <p>{{details.info.message}}</p>
            </div>
        </div>

        <div class="" *ngIf="details.type === 'release'">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone release-thumb" *ngIf="details.info.images">
                    <img src="{{details.info.images[0].uri150}}" />
                </div>

                <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet release-info">
                    <div class="release-basic-info">
                        <h5>{{details.info.artists | joinNames}} - {{details.info.title}}</h5>
                        <span>{{details.info.labels | joinNames}} ({{details.info.year}})</span>
                    </div>

                    <p *ngIf="!details.info.styles" class="style-chips">
                        <span class="mdl-chip" *ngFor="let genre of details.info.genres">
                              <span class="mdl-chip__text">{{genre}}</span>
                        </span>
                    </p>

                    <p *ngIf="details.info.styles" class="style-chips">
                        <span class="mdl-chip" *ngFor="let style of details.info.styles">
                              <span class="mdl-chip__text">{{style}}</span>
                        </span>
                    </p>
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <div *ngIf="details.info.videos && !videosLoaded" class="mdl-spinner mdl-js-spinner is-active"></div>
                    <h4 *ngIf="videosLoaded">{{videos.length || 'No'}} Videos</h4>

                    <div class="video-wrapper">
                        <ul class="mdl-list">
                            <li *ngFor="let video of videos" [ngClass]="{'active': video.id === activeVideoId, 'mdl-list__item mdl-list__item': true}">
                                <span class="mdl-list__item-primary-content" (click)="selectVideo(video, details.info)">
                                  <img class="mdl-list__item-avatar" src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}" />
                                  {{video.snippet.title}}
                                </span>
                                <span class="mdl-list__item-secondary-content video-duration">
                                    <span>{{video.contentDetails.duration | formatDuration}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="mdl-layout-spacer"></div>

</div>