.main-nav-list {
    list-style: none;
}

.main-nav-list li {
    display: inline;
    padding: 0 2em;
    letter-spacing: .1em;
}

.main-nav-list li:first-child {
    padding-left: 0;
}

.main-nav-list li a {
    color: antiquewhite;
    text-decoration: none;
}