    <button #queueBtn="mdlButton" (click)="playlistMenu.show()" class="mdl-list__item-secondary-action"
        mdl-button mdl-js-button mdl-ripple mdl-colored="primary">
        <i class="material-icons">playlist_add</i>
    </button>

    <mdl-dialog #playlistMenu [mdl-dialog-config]="{
        clickOutsideToClose: true,
        styles:{'width': '300px'},
        isModal:true,
        openFrom: queueBtn,
        enterTransitionDuration: 300,
        leaveTransitionDuration: 300}">

        <div class="mdl-dialog__actions playlist-menu">
            <span (click)="playlistMenu.close()">
                <i class="material-icons">clear</i>
            </span>
        </div>

        <div [ngClass]="{'hidden': addingNew}">
            <h3 class="mdl-dialog__title playlist-menu">Add {{type}} to playlist</h3>
            
            <hr class="menu-separator" />

            <div class="mdl-dialog__content playlist-menu">
                <mdl-list>
                    <mdl-list-item class="playlist-menu-add" mdl-ripple (click)="toggleAddPlaylist()">
                        &#x2b; Create New Playlist...
                    </mdl-list-item>
                    <mdl-list-item *ngFor="let playlist of playlists" mdl-ripple (click)="queueVideos(playlist.id, playlistMenu)">
                        {{playlist.name}} ({{playlist.count}})
                    </mdl-list-item>
                </mdl-list>
            </div>
        </div>

        <div [ngClass]="{'hidden': !addingNew}">
            <h3 class="mdl-dialog__title">Add a playlist</h3>

            <div class="mdl-dialog__content">
                <mdl-textfield type="text" label="Playlist Name" #playlistName floating-label autofocus></mdl-textfield>
            </div>

            <div class="mdl-dialog__actions">
                <button mdl-button (click)="addPlaylist(playlistMenu, playlistName.value)"
                    mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
                <button mdl-button (click)="toggleAddPlaylist()" mdl-ripple>Cancel</button>
            </div>
        </div>
        
    </mdl-dialog>
