<section class="header-wrapper" *ngIf="user">

  <div class="header-row">
    <ul class="navigation-header">
      <li class="navigation-action left search-container">
        <app-search-box (onSearch)="search($event)"></app-search-box>
      </li>

      <li class="navigation-action right">
        <button class="mdl-button logout" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>

</section>

<button [ngClass]="{'hidden': !user, 'drawer-button': true}" mdl-button mdl-button-type="icon"
    (click)="appLayout.toggleDrawer()"><i class="material-icons">menu</i></button>
