.volume-slider {
    width: 120px;
    top: -78px;
    right: -44px;
    padding: 4px 0;
    background: #dfdfdf;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.volume-slider .volume-label {
    right: 6px;
    bottom: 2px;
    padding: 0 4px;
    font-size: 0.8em;
    transform: rotate(90deg);
    transform-origin: right, top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: right, top;
}

.volume-slider .volume-label {
    color: #6a6a6a;
}

.volume-slider,
.volume-slider .volume-label {
    position: absolute;
}

.player-transport {
    width: 200px;
    margin: 0 auto;
}

.player-transport .mdl-menu__container {
    border: 1px solid #d9d9d9;
}

.video-duration {
    font-size: 11px;
}

.video-duration-wrapper {
    width: 100%;
}

.video-duration mdl-slider {
    margin-top: 2px;
}

.playlist-wrapper,
.volume-wrapper,
.volume-icon-wrapper {
    position: relative;
}

.playlist-wrapper {
    margin-left: 20px;
 }

.playlist-title {
    color: #333333;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.08em;
    padding-bottom: 8px;
}

.playlist-title span {
    margin-left: 8px;
}

.playlist-item {
    padding: 0 8px;
}

.playlist-item.active {
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.08em;
}

.mdl-list__item-avatar.avatar-smaller {
    height: 30px;
    width: 30px;
}

.volume-slider.visible,
.volume-slider .volume-label {
    display: block;
}

.volume-slider {
    display: none;
}

@media all {
    .video-duration-wrapper.mdl-grid {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .player-transport {
        margin: 1em auto;
    }
}