<div class="player-transport">
    <button title="Skip Previous" class="player-control mdl-button mdl-js-button mdl-button--icon" (click)="skipPrev()"><i class="material-icons">skip_previous</i></button>
    <button title="Pause" *ngIf="playing" class="player-control mdl-button mdl-js-button mdl-button--icon" (click)="togglePlay()"><i class="material-icons">pause_circle_outline</i></button>
    <button title="Play" *ngIf="playerCurrent && !playing" class="player-control mdl-button mdl-js-button mdl-button--icon" (click)="togglePlay()"><i class="material-icons">play_circle_outline</i></button>
    <button #skipNextButton title="Skip Next" class="player-control mdl-button mdl-js-button mdl-button--icon" (click)="skipNext()"><i class="material-icons">skip_next</i></button>

    <span class="volume-wrapper">
      <span class="volume-icon-wrapper">
          <button title="Volume" class="player-control mdl-button mdl-js-button mdl-button--icon"
            (click)="toggleVolume()" 
            (mouseenter)="toggleVolumeVisibility()" 
            (mouseleave)="toggleVolumeVisibility(true)">
              <i *ngIf="volume !== 0" class="material-icons md-18">volume_up</i>
              <i *ngIf="volume === 0" class="material-icons md-18">volume_off</i>
          </button>
      </span>

      <span [ngClass]="{'visible': volumeVisible, 'volume-slider': true}" (mouseenter)="toggleVolumeVisibility()" (mouseleave)="toggleVolumeVisibility(true)">
              <mdl-slider [min]="0" [max]="100" [step]="1"
                #src (input)="inputVolume(src.value)" [(ngModel)]="volume"></mdl-slider>
              <span class="volume-label">{{volume}}</span>
      </span>
    </span>

    <app-playlist-menu
        [playlistTitle]="playerRelease.title"
        [playlist]="playlist"
        [currentId]="playerCurrent.id"
        [releaseImageUri]="playerRelease.images[0].uri150"
        (onPlaylistSelected)="selectVideo($event)">
    </app-playlist-menu>
</div>