<div class="login-wrapper">
  <h3>Discogs Player Login</h3>

  <div class="login-container">
    <div class="username-wrapper">
      <mdl-textfield label="Discogs Username" [(ngModel)]="username" type="text" floating-label></mdl-textfield>
    </div>

    <div class="submit-wrapper">
      <span class="left"><input type="checkbox" [(ngModel)]="rememberMe">Remember Me</span>
      <button mdl-button (click)="submit()" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Log in</button>
    </div>
  </div>
</div>
