<span class="loading" *ngIf="!releases">Loading...</span>

<div class="item-list" (onActiveVideo)="onVideoChanged($event)">
    <ul>
        <li *ngFor="let release of releases">
            <a [routerLink]="['detail', 'artist', release.basic_information.artists[0].id]">
              {{release.basic_information.artists | joinNames}}</a> -
            <a [routerLink]="['detail', 'release', release.id]">
              {{release.basic_information.title}}</a> (
            <a [routerLink]="['detail', 'label', release.basic_information.labels[0].id]">
              {{release.basic_information.labels | joinNames}}</a> {{release.basic_information.year}})
        </li>
    </ul>
</div>

<router-outlet></router-outlet>