<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--8-col">
        <div class="pagination-wrapper">
            <pagination-controls (pageChange)="getWantlist($event)"></pagination-controls>
        </div>

        <div *ngIf="!releases.length" class="mdl-spinner mdl-js-spinner is-active"></div>

        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let release of releases | paginate: { itemsPerPage: 25, currentPage: currentPage, totalItems: totalItems }">
                <span class="mdl-list__item-primary-content">
          <img class="mdl-list__item-avatar" src="{{release.basic_information.thumb}}" />
          <span>
              <a class="release-title" [routerLink]="['/detail', release.id]">
                {{release.basic_information.artists | joinNames}} - {{release.basic_information.title}}
              </a>
          </span>
                <span class="mdl-list__item-sub-title">{{release.basic_information.labels | joinNames}} ({{release.basic_information.year}})</span>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <span class="mdl-list__item-secondary-info">Play All</span>
                <a (click)="playAll(release.id)" class="mdl-list__item-secondary-action"><i class="material-icons">play_circle_outline</i></a>
                </span>
            </li>
        </ul>

        <div *ngIf="releases.length" class="pagination-wrapper">
            <pagination-controls (pageChange)="getWantlist($event)"></pagination-controls>
        </div>
    </div>

    <div class="mdl-layout-spacer"></div>
</div>

<router-outlet></router-outlet>