<mdl-list-item lines="2">
    <span class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', result.id]">
      <a><img class="mdl-list__item-avatar" src="{{result.thumb}}" /></a>
      <span><a title="{{result.title}}" class="release-title">{{result.title}}</a></span>
      <span class="mdl-list__item-sub-title release-title">{{result.label | joinNames}} ({{result.year}})</span>
    </span>

    <span class="mdl-list__item-secondary-content">
      <span class="list-actions">
        <app-add-playlist-menu
          [playlists]="playlists"
          [type]="addType"
          (onPlaylistAdd)="addPlaylist($event)"
          (onQueueAll)="queueAll($event)">
        </app-add-playlist-menu>
      </span>
    </span>
</mdl-list-item>