<mdl-layout-header>
    <mdl-layout-header-row>
        <mdl-layout-title class="nav-title">
            <a routerLink="/">{{title}}</a>
        </mdl-layout-title>

        <mdl-layout-spacer></mdl-layout-spacer>

        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/discogs/wantlist"><span mdl-badge-no-background mdl-badge="{{user.num_wantlist}}">Wantlist</span></a>
            <a class="mdl-navigation__link" routerLink="/discogs/collection"><span mdl-badge-no-background mdl-badge="{{user.num_collection}}">Collection</span></a>
            <a class="mdl-navigation__link" routerLink="/discogs/inventory"><span mdl-badge-no-background mdl-badge="{{user.num_for_sale}}">Sales</span></a>

            <span class="spacer-horz"></span>

            <button (click)="toggleSearch()" class="mdl-navigation__link toggle-search" mdl-button mdl-button-type="icon">
              <i class="material-icons">search</i>
            </button>
        </nav>

        <div *ngIf="searchVisible" class="search-container">
            <app-search-box></app-search-box>
        </div>
    </mdl-layout-header-row>
</mdl-layout-header>

<mdl-layout-drawer>
    <mdl-layout-title>{{title}}</mdl-layout-title>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/discogs/wantlist" (click)="mainLayout.closeDrawer()">Wantlist</a>
        <a class="mdl-navigation__link" routerLink="/discogs/collection" (click)="mainLayout.closeDrawer()">Collection</a>
        <a class="mdl-navigation__link" routerLink="/discogs/inventory" (click)="mainLayout.closeDrawer()">Sales</a>

        <span class="drawer-search-container">
            <app-search-box></app-search-box>
        </span>
    </nav>
</mdl-layout-drawer>