<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', release.id]">
        <a><img class="mdl-list__item-avatar" src="{{release.basic_information.thumb}}" /></a>
        <span>
            <a class="release-title" title="{{release.basic_information.title}}">
                {{release.basic_information.artists | joinNames}} - {{release.basic_information.title}}
            </a>
        </span>
        <span class="mdl-list__item-sub-title release-title">
            {{release.basic_information.labels | joinNames}} ({{release.basic_information.year}})
        </span>
    </span>

    <span class="mdl-list__item-secondary-content">
        <span class="list-actions">
            <button (click)="playAll(release)" class="mdl-list__item-secondary-action" mdl-button mdl-js-button mdl-ripple mdl-colored="primary">
                <span>Play All</span> <i class="material-icons md-resized">play_arrow</i>
            </button>
        </span>
    </span>
</li>
