<mdl-list-item lines="2">
    <span class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', release.id]">
        <a><img class="mdl-list__item-avatar" src="{{release.basic_information.thumb}}" /></a>
        <span>
            <a class="release-title" title="{{release.basic_information.title}}">
                {{release.basic_information.artists | joinNames}} - {{release.basic_information.title}}
            </a>
        </span>
        <span class="mdl-list__item-sub-title release-title">
            {{release.basic_information.labels | joinNames}} ({{release.basic_information.year}})
        </span>
    </span>

    <span class="mdl-list__item-secondary-content">
        <span class="list-actions">
            <app-add-playlist-menu
                [playlists]="playlists"
                [type]="addType"
                (onPlaylistAdd)="addPlaylist($event)"
                (onQueueAll)="queueAll($event)">
            </app-add-playlist-menu>
        </span>
    </span>
</mdl-list-item>
