<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content release-link" [routerLink]="['/detail', release.id]">
        <a><img class="mdl-list__item-avatar" src="{{release.basic_information.thumb}}" /></a>
        <span>
            <a class="release-title" title="{{release.basic_information.title}}">
                {{release.basic_information.artists | joinNames}} - {{release.basic_information.title}}
            </a>
        </span>
        <span class="mdl-list__item-sub-title release-title">
            {{release.basic_information.labels | joinNames}} ({{release.basic_information.year}})
        </span>
    </span>

    <span class="mdl-list__item-secondary-content">
        <span class="list-actions">
            <button #queueBtn="mdlButton" (click)="playlistMenu.toggle($event, queueBtn)" class="mdl-list__item-secondary-action" mdl-button mdl-js-button mdl-ripple mdl-colored="primary">
                <span>Add</span> <i class="material-icons">playlist_add</i>
            </button>
            <mdl-menu #playlistMenu="mdlMenu" mdl-menu-position="bottom-right">
                <mdl-menu-item *ngFor="let playlist of playlists" mdl-ripple (click)="queueAll(playlist.id)">{{playlist.name}}</mdl-menu-item>
            </mdl-menu>
        </span>
    </span>
</li>
