<app-header-row></app-header-row>

<mdl-layout #appLayout="mdlLayout">
    <mdl-layout-drawer>
        <div class="navigation-drawer">
            <app-main-navigation
                [layout]="appLayout"
                [user]="user$ | async"
                [playlists]="playlists$ | async"
                (onPlaylistAdd)="onPlaylistAdd($event)"
                (onSearch)="search($event)">
            </app-main-navigation>
        </div>
    </mdl-layout-drawer>

    <mdl-layout-content>
        <app-main-layout
            [user]="user$ | async"
            [videoSelected]="videoSelected$ | async"
            [playlists]="playlists$ | async"
            (onPlaylistAdd)="onPlaylistAdd($event)">
        </app-main-layout>
    </mdl-layout-content>
</mdl-layout>

<button class="drawer-button" mdl-button mdl-button-type="icon"
    (click)="appLayout.toggleDrawer()"><i class="material-icons">menu</i></button>

<app-player></app-player>
