.playing {
    padding: 0;
}

.playing a,
.playing span,
.playing div {
    color: #3e3e3e;
}

.playing-title-image {
    position: relative;
}

.playing-title-image .player-image-icon {
    display: none;
    position: absolute;
    bottom: 0;
    left: 12px;
}

.playing-title-image a {
    cursor: pointer;
}

.playing-title-image img {
    width: 60px;
    height: 48px;
    float: left;
}

.playing-title-container {
    font-size: 0.8em;
}

.playing-title-video {
    font-style: italic;
    letter-spacing: .08em;
    display: block;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playing-title-text {
    padding-left: 8px;
}

.playing-title-text .playing-title-placeholder span {
    display: block;
    color: #6a6a6a;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player-transport {
    width: 140px;
}

.volume-wrapper {
    position: relative;
}

.volume-icon-wrapper {
    position: relative;
}

.volume-slider {
    width: 120px;
    display: none;
    position: absolute;
    top: -78px;
    right: -44px;
    padding: 4px 0;
    background: #dfdfdf;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.volume-slider .volume-label {
    display: block;
    color: #6a6a6a;
    position: absolute;
    right: 6px;
    bottom: 2px;
    padding: 0 4px;
    font-size: 0.8em;
    transform: rotate(90deg);
    transform-origin: right, top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: right, top;
}

.player-frame.visible,
.volume-slider.visible,
.playing-title-image .player-image-icon.visible {
    display: block;
}

.player-frame {
    display: none;
}

@media (max-width: 480px) {
    .playing-title-image img {
        width: 110px;
        height: 80px;
        position: absolute;
        bottom: -64px;
        left: -16px;
    }
    .playing-title-image .player-image-icon {
        top: 10px;
        left: 18px;
        font-size: 48px;
    }
}

@media (min-width: 600px) {
    .playing-title-video {
        max-width: 450px;
    }
    .playing-title-text .playing-title-placeholder span {
        max-width: 450px;
    }
}

@media (min-width: 960px) {
    .playing-title-video {
        max-width: 600px;
    }
    .playing-title-text .playing-title-placeholder span {
        max-width: 600px;
    }
}

@media (max-width: 840px) {
    .playing-title-text {
        max-width: 200px;
    }
}