.playing {
    padding: 0 1em;
    margin-top: 14px;
    height: 40px;
}

.playing a,
.playing span,
.playing div {
    float: left;
    color: #3e3e3e;
}

.playing-title {
    width: 50%;
    margin: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playing-title img {
    width: 60px;
    height: 48px;
    float: left;
    padding: 0 0 12px;
}

.playing-title a.video-link {
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: .08em;
    margin: 12px 0 0 12px;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playing-title a.video-link:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.player-controls {
    margin-top: 12px;
}

a.player-control {
    margin: 0 6px;
}

.active-video {
    display: none;
}


/* Volume Slider */

.volume-slider {
    padding-left: 2em;
}

.volume-slider label {
    font-size: .8em;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 120px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 120px;
    height: 5px;
    background: cornflowerblue;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #666;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #d9d9d9;
    margin-top: -4px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: skyblue;
}

input[type=range]::-moz-range-track {
    width: 120px;
    height: 5px;
    background: cornflowerblue;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #666;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #d9d9d9;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 120px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: d9d9d9;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}