.playing {
    padding: 0;
}

.playing a,
.playing span,
.playing div {
    color: #3e3e3e;
}

.playing-title-image img {
    width: 60px;
    height: 48px;
    float: left;
}

.playing-title-container {
    font-size: 0.8em;
}

.playing-title-text a.video-link {
    font-style: italic;
    letter-spacing: .08em;
    display: block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playing-title-text a.video-link:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.playing-title-text .playing-title-placeholder span {
    color: #6a6a6a;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player-controls {
    margin-top: 12px;
    padding-left: 20px;
}

.active-video {
    display: none;
}


/* Volume Slider */

.volume-slider {
    padding-left: 10px;
}

.volume-slider label {
    font-size: .8em;
    margin-left: 6px;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 120px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 120px;
    height: 5px;
    background: cornflowerblue;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #666;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #d9d9d9;
    margin-top: -4px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: skyblue;
}

input[type=range]::-moz-range-track {
    width: 120px;
    height: 5px;
    background: cornflowerblue;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #666;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #d9d9d9;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 120px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: d9d9d9;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

@media (min-width: 600px) {
    .playing-title-text a.video-link {
        max-width: 450px;
    }
    .playing-title-text .playing-title-placeholder span {
        max-width: 450px;
    }
}

@media (min-width: 960px) {
    .playing-title-text a.video-link {
        max-width: 600px;
    }
    .playing-title-text .playing-title-placeholder span {
        max-width: 600px;
    }
}