<div class="playing" *ngIf="selectedVideo">
    <span class="playing-title">
        <img src="{{selectedVideo.snippet.thumbnails.default.url}}" alt="{{selectedVideo.snippet.title}}" />
        <a title="{{selectedVideo.snippet.title}}" class="video-link">{{selectedVideo.snippet.title}}</a>
    </span>
    <div class="player-controls">
        <a title="Skip Previous" class="player-control" (click)="skipPrev()"><i class="material-icons">skip_previous</i></a>
        <a title="Rewind" class="player-control" (click)="seekRw()"><i class="material-icons">fast_rewind</i></a>
        <a title="Pause" *ngIf="playing" class="player-control" (click)="pauseVideo()"><i class="material-icons">pause_circle_outline</i></a>
        <a title="Play" *ngIf="selectedVideo && !playing" class="player-control" (click)="resumeVideo()"><i class="material-icons">play_circle_outline</i></a>
        <a title="Fast Forward" class="player-control" (click)="seekFw()"><i class="material-icons">fast_forward</i></a>
        <a title="Skip Next" class="player-control" (click)="skipNext()"><i class="material-icons">skip_next</i></a>

        <div class="player-control volume-slider">
            <input #src (change)="changeVolume(src.value)" (input)="inputVolume(src.value)" [(ngModel)]="volume" type="range" min="0" max="100" step="1" />
            <label>Volume: {{volume}}</label>
        </div>
    </div>
</div>

<div class="active-video">
    <span id="player"></span>
</div>