.playlist-thumb {
    cursor: pointer;
    text-align: center;
}

.playlist-thumb > .img-container {
    width: 150px;
}

.playlist-thumb img {
    max-width: 100%;
}

.playlist-basic-info {
    margin-bottom: 12px;
}

.playlist-basic-info h5 {
    margin: 24px 0 6px 0;
}

.playlist-basic-info span {
    color: rgba(0, 0, 0, .54);
}

.active {
    border-left: 2px solid #ff4081;
    background: #efefef;
}