<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone playlist-thumb">
        <div (click)="toggleImages()" class="img-container">
            <img src="{{selectedPlaylist.videos[0].release.images[0].uri}}">
            <span *ngIf="images.length > 1" class="extra-info">More images...</span>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet playlist-info">
        <div class="playlist-basic-info">
            <h5>{{selectedPlaylist.name}}</h5>
            <span>{{selectedPlaylist.count}} videos</span>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <ul class="mdl-list">
          <li *ngFor="let selected of selectedPlaylist.videos" [ngClass]="{'active': selected.video.id === activeVideoId, 'mdl-list__item mdl-list__item': true}">
              <span class="mdl-list__item-primary-content" (click)="selectVideo(selected)">
                <img class="mdl-list__item-avatar" src="{{selected.video.snippet.thumbnails.default.url}}" alt="{{selected.video.snippet.title}}" />
                {{selected.video.snippet.title}}
              </span>

              <span class="mdl-list__item-secondary-content video-duration">
                <span>{{selected.video.contentDetails.duration | formatDuration}}</span>
              </span>

              <button (click)="remove(selected)" class="mdl-list__item-secondary-action" mdl-button mdl-js-button mdl-ripple mdl-colored="accent">
                <i class="material-icons">clear</i>
              </button>
          </li>
      </ul>
    </div>

    <app-release-images (onImagesClose)="toggleImages()"
        [images]="images"
        [imagesVisible]="playlistImagesVisible">
    </app-release-images>
</div>