.playlist-wrapper {
    position: relative;
    margin-left: 20px;
 }

.playlist-title {
    color: #333333;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.08em;
    padding-bottom: 8px;
}

.playlist-title span {
    margin-left: 8px;
}

.playlist-item {
    padding: 0 8px;
}

.playlist-item.active {
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.08em;
}

.mdl-list__item-avatar.avatar-smaller {
    height: 30px;
    width: 30px;
}