<span class="playlist-wrapper">
  <button mdl-button #playlistBtn="mdlButton" [mdl-toggle-menu]="playlistMenu" mdl-button-type="icon" mdl-ripple>
    <mdl-icon>view_list</mdl-icon>
  </button>

  <mdl-menu #playlistMenu="mdlMenu" mdl-menu-position="top-right">

    <mdl-menu-item class="playlist-title" disabled mdl-menu-item-full-bleed-divider>
      <img class="mdl-list__item-avatar" src="{{releaseImageUri}}">
      <span>{{playlistTitle}}</span>
    </mdl-menu-item>

    <mdl-menu-item *ngFor="let video of playlist" mdl-ripple (click)="onPlaylistSelected.emit(video)">
      <img class="mdl-list__item-avatar avatar-smaller" src="{{video.snippet.thumbnails.default.url}}">
      <span [ngClass]="{'active': video.id === currentId, 'playlist-item': true}">
        {{video.snippet.title}}
      </span>
    </mdl-menu-item>
    
  </mdl-menu>
</span>