<div class="mdl-grid margin-bottom-x2" *ngIf="release">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="details-wrapper">
            <span *ngIf="release.images" (click)="toggleImages()" class="release-thumb">
                <div class="img-container">
                    <img src="{{release.images[0].uri150}}">
                    <span *ngIf="release.images.length > 1" class="extra-info">More images...</span>
                </div>
            </span>

            <span *ngIf="!release.images" class="release-thumb">
                <div class="img-container">
                    <img src="../../../assets/images/placeholder.jpg">
                </div>
            </span>

            <span class="release-info">
                <div class="release-basic-info">
                    <h5>{{release.artists | joinNames}} - {{release.title}}</h5>
                    <span>{{release.labels | joinNames}} ({{release.year}})</span>
                </div>

                <div class="detail-actions">
                    <a *ngIf="!inWantlist" (click)="addToWantlist()">+ Add To Wantlist</a>
                    <a *ngIf="inWantlist" class="wantlist-remove" (click)="removeFromWantlist()">- Remove From Wantlist</a>
                </div>

                <p *ngIf="!release.styles" class="style-chips">
                    <span class="mdl-chip" *ngFor="let genre of release.genres">
                        <span class="mdl-chip__text">{{genre}}</span>
                    </span>
                </p>

                <p *ngIf="release.styles" class="style-chips">
                    <span class="mdl-chip" *ngFor="let style of release.styles">
                        <span class="mdl-chip__text">{{style}}</span>
                    </span>
                </p>
            </span>
        </div>
    </div>
    
    <div class="mdl-cell mdl-cell--12-col">
        <mdl-tabs>
            <mdl-tab-panel [disabled]="!videosLoading && !releaseVideos.length">
                <mdl-tab-panel-title>
                    <span *ngIf="videosLoading">Loading</span>
                    <span *ngIf="!videosLoading && !releaseVideos.length">No Videos</span>
                    <span *ngIf="!videosLoading && releaseVideos.length" mdl-badge="{{releaseVideos.length}}">Videos</span>
                </mdl-tab-panel-title>

                <mdl-tab-panel-content>
                    <div class="video-wrapper">
                        <ul class="mdl-list">
                            <div *ngIf="videosLoading" class="progress progress-list">
                                <mdl-spinner single-color [active]="videosLoading"></mdl-spinner>
                            </div>
                            <app-video-list
                                [videos]="releaseVideos"
                                [playlists]="playlists"
                                [activeVideoId]="activeVideoId"
                                (onVideoSelected)="onSelectedVideo($event)"
                                (onVideoQueued)="onQueuedVideo($event)"
                                (onPlaylistAdd)="onPlaylistAdd($event)">
                            </app-video-list>
                        </ul>
                    </div>
                </mdl-tab-panel-content>
            </mdl-tab-panel>

            <mdl-tab-panel>
                <mdl-tab-panel-title>
                    <span mdl-badge="{{release.tracklist.length}}">Tracklist</span>
                </mdl-tab-panel-title>

                <mdl-tab-panel-content>
                    <ul class="mdl-list">
                        <li class="mdl-list__item" *ngFor="let track of release.tracklist">
                            <span class="tracklist-position" *ngIf="track.position">{{track.position}}.</span>
                            <span *ngIf="track.artists" class="tracklist-artist">
                                            <a href="https://discogs.com/artist/{{track.artists[0].id}}" target="_blank">
                                                {{track.artists[0].name}}
                                            </a>
                                        </span>
                            <span>{{track.title}}</span>
                        </li>
                    </ul>
                </mdl-tab-panel-content>
            </mdl-tab-panel>

            <mdl-tab-panel [disabled]="!release.extraartists.length && !release.notes">
                <mdl-tab-panel-title>
                    <span>Info</span>
                </mdl-tab-panel-title>

                <mdl-tab-panel-content>
                    <h5 *ngIf="release.extraartists.length">Credits</h5>
                    <ul class="mdl-list">
                        <li class="mdl-list__item" *ngFor="let credit of release.extraartists">
                            <span>{{credit.role}} - 
                                <a href="https://discogs.com/artist/{{credit.id}}" target="_blank">
                                    {{credit.name}}
                                </a>
                            </span>
                        </li>
                    </ul>
                    <h5 *ngIf="release.notes">Notes</h5>
                    <p [innerHtml]="release.notes_html | embed"></p>
                </mdl-tab-panel-content>
            </mdl-tab-panel>
        </mdl-tabs>
    </div>
    <app-release-images
        (onImagesClose)="toggleImages()"
        [images]="release.images || []"
        [imagesVisible]="releaseImagesVisible">
    </app-release-images>
</div>