body {
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FAFAFA;
}

.mdl-list li a.release-title {
    color: #4a4a4a;
}

.mdl-list li .release-title {
    display: block;
    text-decoration: none;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading {
    position: absolute;
    top: 180px;
    left: 180px;
    font-style: italic;
}

.release-link {
    cursor: pointer;
}

.progress {
    width: 100px;
}

.pagination-wrapper {
    width: 600px;
}

.pagination-wrapper ul {
    padding: 0;
}

.pagination-wrapper li {
    cursor: pointer;
}

.ng2-pagination .current {
    background: rgb(63,81,181) !important;
}

.ng2-pagination li a {
    color: #3e3e3e !important;
    font-weight: normal !important;
}

.mdl-textfield__input {
    border-bottom: 1px solid #aaa;
}

@media (max-width: 600px) {
    .mdl-layout__header-row .mdl-navigation {
        display: none;
    }
}

@media (min-width: 600px) {
    .mdl-layout__drawer,
    .mdl-layout__drawer-button {
        display: none;
    }
    .mdl-layout__header-row {
        padding: 0 16px 0 24px;
    }
    .mdl-list li .release-title {
        max-width: 450px;
    }
}

@media (min-width: 960px) {
    .mdl-list li .release-title {
        max-width: 600px;
    }
}