body {
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FAFAFA;
}

.loading {
    position: absolute;
    top: 180px;
    left: 180px;
    font-style: italic;
}

.release-link {
    cursor: pointer;
}

.progress {
    width: 100px;
}

.mdl-textfield__input {
    border-bottom: 1px solid #aaa;
}

.ng2-pagination .current {
    background: rgb(96, 125, 139) !important;
}

.ng2-pagination li a {
    color: #3e3e3e !important;
    font-weight: normal !important;
}

@media (max-width: 600px) {
    .mdl-layout__header-row .mdl-navigation {
        display: none;
    }
}

@media (min-width: 600px) {
    .mdl-layout__drawer,
    .mdl-layout__drawer-button {
        display: none;
    }
    .mdl-layout__header-row {
        padding: 0 16px 0 24px;
    }
}